.best__pupils {
    color: #67c261;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
    margin: 0 auto;
    text-align: center;
}

.best__pupils > h1 {
    margin: 20px;
}

