.content {
    grid-area: content;
    padding: 1em;
}

.hero {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.hero img {
    width: 200px;
    border-radius: 50%;
}

.hero h2 {
    font-size: 1.7em;
    font-weight: 700;
    color: #657386;
}

.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #98a0ad;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: #867bfb;
    padding: .5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: .3s;
    cursor: pointer;
}

.action-btn:hover {
    background: #67c261;
}

@media (min-width: 1040px) {
    .hero {
        text-align: left;
        margin: 2em auto;
    }
    .hero img {
        width: 250px;
        float: right;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        width: 60%;
    }

    footer ul {
     min-width: 960px;
        margin: 0 auto;
        padding: 2em 0;
    }
}