.content {
    padding: 7em 1.5em 0 1.5em;
    height: 46vh;
}

.hero {
    max-width: 960px;
    margin: 0 auto;
}



.hero img {
    width: 200px;
    border-radius: 50%;
    margin-top: 3em;
}

.hero h2 {
    font-size: 3em;
    font-weight: bold;
    color: gray;
}

.hero .content__repetitor {
    font-size: 2.4em;
}

.hero p {
    font-weight: bold;
    line-height: 1.8em;
    color: gray;
    font-size: 20px;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: #c7eb6a;
    padding: .5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: .3s;
    cursor: pointer;
}

.action-btn__active {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: #7aa5da;
    padding: .5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: .3s;
    cursor: pointer;
}

.action-btn:hover {
    background: #7aa5da;
}

@media (min-width: 1040px) {

    .hero {
        text-align: center;
        margin: 2em auto;
    }
    .hero img {
        width: 250px;
        float: right;
    }

    .hero h2 {
        font-size: 3em;
        font-weight: bold;
        color: #657386;
    }

    .hero p {
        width: 75%;
    }

}
@media (max-width: 650px) {
    .content__wrapper {
        height: 97vh;
    }
    .content {
        padding: 2em 1.5em 0 1.5em;
        height: 75vh;
    }
      .hero h2 {
        font-size: 1.7em;
        font-weight: bold;
        color: #657386;
    }

    .hero {
        max-width: 960px;
        text-align: center;
    }

    .hero p {
        font-weight: bold;
        color: #98a0ad;
        font-size: 15px;
    }

    .hero img {
        margin: 0 auto;
    }
}
