.sidebar {
    background: #c7eb6a;
    padding: 1em;
    display: flex;
    justify-content: center;

}

.sidebar > a {
    text-decoration: none;
    color: white;
    margin: 0 50px;
    font-size: 40px;
    cursor:pointer;
}



@media (max-width: 650px) {
    .sidebar {
        font-size: 20px;
        height: 3vh;
    }

    .sidebar > a {
        margin: 0 20px;
        font-size: 20px;
    }

}

/*@media (min-width: 1040px) {*/
/*    .sidebar {*/
/*        background: linear-gradient(#867bfb, #b0a7ff, #ffffff);*/
/*        !*background: #867bfb;*!*/
/*        font-size: 35px;*/
/*    }*/
/*    .sidebar > nav ul {*/
/*        margin: 40px 0;*/
/*    }*/

/*    .sidebar > nav li {*/
/*        list-style: none;*/
/*        margin: auto ;*/
/*        padding: 20px;*/
/*    }*/

/*    .sidebar > nav a {*/
/*        text-decoration: none;*/
/*        margin: 50px auto;*/
/*        color: white;*/
/*        cursor: pointer;*/
/*        font-size: 40px;*/
/*    }*/
/*}*/