.header {
    background: #c7eb6a;
    padding: 1em;
    display: flex;
    justify-content: center;

}

.header > a , p {
    text-decoration: none;
    color: white;
    margin: 0 50px;
    font-size: 40px;
    cursor:pointer;
}


@media (max-width: 650px) {
    .header {
        font-size: 20px;
        height: 3vh;
    }

    .header > a, p {
        margin: 0 7px;
        font-size: 20px;
    }

    .header__optionLineOne {
        font-size: 10px;
    }

    .header__optionLineTwo {
        font-size: 10px;
        font-weight: 800;
    }

}
