.testimonials {
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
}

@media (max-width: 650px) {
    .testimonials {
        padding: 0 1px 50px 1px;
    }
}
